<footer class="site-footer">
  <div class="row">
    <div class="gf-mate-sc col-xs-offset-2 col-xs-10 col-sm-offset-0 col-sm-8 col-sm-push-4">
      {% for link in site.data.links limit:1 %}<a class="footer-link" href="{{ link.url }}">{{ link.title }}</a>{% endfor %}{% for link in site.data.links offset:1 %} · <a class="footer-link" href="{{ link.url }}">{{ link.title }}</a>{% endfor %}
    </div>
    <div class="footer-title col-xs-offset-2 col-xs-10 col-sm-offset-0 col-sm-4 col-sm-pull-8">
      <a class="gf-mate-sc" href="/">analog rocks.</a>
    </div>
  </div>
</footer>
