body {
    font-family: $base-font-family;
    font-size: $base-font-size;
}

a {
    text-decoration: none;
}

hr {
    border: none;
    text-align: center;
    line-height: $base-vert-space;
    height: $base-vert-space;
    margin: $base-vert-space 0;

    &:before {
        content: "A. R.";
        font-size: 1rem;
        font-family: $brand-font-family;
        opacity: 0.5;
    }
}

.wrapper {
    width: 85%;
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.site-header {
    padding: 25vmin 0 20vmin;
    margin: 0;
    @include media-query($mobile) {
        & {
            padding: 5vmin 0;
        }
    }
}

.site-title {
    font-size: 20vmin;
    line-height: 1;
    text-align: center;
    font-weight: 700;
    font-family: $brand-font-family;
    margin: 0;
}

.page-content {
    padding-bottom: $base-vert-space;
}

.post-title {
    font-size: 2rem;
    line-height: 1;
    margin: 0;
    padding-bottom: 1rem;

    @include media-query($mobile) {
        font-size: 1.5rem;
    }
}

.post-meta {
    font-size: 0.875rem;
}

.post-list {
    margin: 0;
    list-style: none;

    @extend %list-reset;
}

.post-list-link {
    float: left;
}

.post-list-meta {
    float: right;
}

.site-footer {
    font-family: $brand-font-family;
    padding: $base-vert-space 0;
}

.footer-heading {
    font-size: $base-font-size;
    margin: 0;
    float: right;
}

.footer-links {
    float: left;
    margin: 0;
    @extend %list-reset;
}

.footer-link {
    float: left;
    list-style: none;
}

.footer-link + .footer-link::before {
    content: "/";
    margin-left: 0.5em;
    margin-right: 0.5em;
}

%list-reset {
    padding-left: 0;
}
