////////////////////////////////
// base

html, body, h1, h2, p {
  font-size: $base-font-size;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans GB",
  "Source Han Sans", "Microsoft YaHei", sans-serif;
  line-height: $v;
  margin-top: 0;
  margin-bottom: 0;
}

a { text-decoration: none; transition: color .15s linear; }
a, a:visited { color: $grey; }
a:hover { color: $highlight; text-decoration: none; }

////////////////////////////////
// content

.meta, .title {
  margin-bottom: $v;
}


.post {
  margin-bottom: $v*2;

  & audio {
    display: block;
    height: $v;
    line-height: $v;
    margin-bottom: $v;
    width: 80%;
  }

  & p + p {
    text-indent: 1em;
  }

  & ul, & ol {
    margin: 0;
    padding-left: 2em;
  }

  & li {
    list-style: upper-roman;
  }

  & hr {
    line-height: $v;
    height: $v;
    border: none;
    margin: 0;
  }

}

////////////////////////////////
// header

.site-header {
  margin: $v*5 0 $v*3;
}

.site-title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: $base-font-size * 1.4;
  line-height: $v * 2;
  letter-spacing: 0.2em;
}

////////////////////////////////
// footer

.site-footer {
  margin-bottom: $v*2;
}

////////////////////////////////

@media (min-width: 768px) {
  .site-header {
    margin: $v*9 0 $v*6;
  }
  .meta, .footer-title {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .post-old {
    margin-right: 8.33333333%;
  }
}
